<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
    {% if user %}
        <form>Logro name:
            <input value="{{ logro_name }}" name="logro_name">
            <input type="submit" value="Switch">
        </form>
        <hr/>
        <form action="/sign?logro_name={{ logro_name }}" method="post" enctype="multipart/form-data">
            <fieldset>
                <div><textarea name="content" rows="3" cols="185"></textarea></div>
                <div>
                    <table id="mytable1" class="mytables">
                        <tr>
                        <td><input type="file" name="img" accept="image/*"></td>
                        <td><input type="submit" value="Sign Logro"></td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>
        <hr/>
        <fieldset>
                <div>
                    <table id="mytable2" class="mytables">
                        <tbody>
                        {% for greeting in greetings %}
                            <tr>
                                <td class="left">
                                    <blockquote>
                                        {{ greeting.content }}
                                        <footer>
                                            -
                                            {% if greeting.author %}
                                                <a href="mailto:{{ greeting.author.email }}">{{ greeting.author.email }}</a>
                                                {% if user and user.user_id() == greeting.author.identity %}
                                                    (You)
                                                {% endif %}
                                            {% else %}
                                                Annonymous
                                            {% endif %}
                                        </footer>
                                    </blockquote>
                                </td>
                                <td class="right"><img src="/img?img_id={{ greeting.key.urlsafe() }}" alt="Mountain View" style="width:150px;height:100px;"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </fieldset>
        <!-- centre below is a deprecated html tag so we
        must do this in css. Issue #3 raised  for it -->
        <center><a href="{{ url|safe }}">{{ url_linktext }}</a></center>
    {% else %}
        <center><a href="{{ url|safe }}">{{ url_linktext }}</a></center>
    {% endif %}
    </body>
</html>
{% endautoescape %}