body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.mytables {
    width: 1320px;
    margin: 0 auto;
}

.mytables .left {
    text-align: left;
    width: 1170px;
}

.mytables .right {
    text-align: right;
    width: 150px;
}

#mytable2 tbody tr:nth-child(odd) {
    background: ghostwhite;
}

#mytable2 tbody tr:hover {
    background: lightcyan;
}
